attr>=0.3.2
beautifulsoup4>=4.14.3
boto3>=1.42.14
click>=8.3.1
icalendar>=6.3.2
InquirerPy>=0.3.4
openpyxl>=3.1.5
pyTelegramBotAPI>=4.29.1
Requests>=2.32.5
rich>=14.2.0
SQLAlchemy>=2.0.45
typing_extensions>=4.15.0
x_wr_timezone>=2.0.1
