attr==0.3.2
beautifulsoup4==4.11.1
boto3==1.34.104
click==8.1.3
icalendar==5.0.7
InquirerPy==0.3.4
openpyxl==3.0.9
pyTelegramBotAPI==4.14.0
pyTelegramBotAPI==4.28.0
Requests==2.32.4
rich==14.1.0
SQLAlchemy==2.0.23
typing_extensions==4.14.1
x_wr_timezone==0.0.5
